---
layout: page
pagetitle: Prashant Kikani's blog
permalink: "/blog/"
description: Prashant Kikani's blog on Machine Learning, Philosophy, Happiness & Life
---

<div class="posts">
  {% for post in site.posts %}

    <article class="post">
      {% if post.url contains "stories" %}

      {% else %}
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

        <div class="entry">
          {{ post.excerpt }} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>

        {% if post.title != "What I learned from my 7 month ML journey?" %}
          <br/>
          <hr style="height:0px; color:#DCDCDC; background-color:#DCDCDC;">
          <br/>
        {% endif %}

      {% endif %}
    </article>
  {% endfor %}
</div>