---
layout: page
pagetitle: Stories by Prashant Kikani
permalink: "/stories"
description: Stories written by Prashant Kikani
---

<div class="posts">
  {% for post in site.posts %}

    <article class="post">
      {% if post.url contains "stories" %}
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
          <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

        <div class="entry">
          {{ post.excerpt }} <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>

      {% endif %}
    </article>
  {% endfor %}
</div>