<footer class="site-footer">
<div class="wrapper">

<h2 class="footer-heading">Prashant Kikani</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li><a rel="nofollow" href="mailto:{{ site.footer-links.email }}" target="_blank">
        <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#mail"></use></svg>
        <span class="username">{{ site.footer-links.email }}</span>
      </a>
      </li>

        <li><a rel="nofollow" href="https://www.linkedin.com/in/prashant-kikani" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">prashant-kikani</span></a></li>

        <!--li><a rel="nofollow" href="https://www.kaggle.com/prashantkikani" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#kaggle"></use></svg> <span class="username">prashantkikani</span></a></li-->

        <li><a rel="nofollow" href="https://github.com/prashant-kikani" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">prashant-kikani</span></a></li>

        <li><a rel="nofollow" href="https://twitter.com/prashant_kikani" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">prashant_kikani</span></a></li>

    </ul>
    </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
        You can contact me <a href="https://prashantkikani.com/contact" target="_blank">here</a>.
      </div>

</div>

</div>
</footer>