<footer class="site-footer">
<div class="wrapper">

<h2 class="footer-heading">Prashant Kikani</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li><a rel="nofollow" href="mailto:{{ site.footer-links.email }}" target="_blank">{{ site.footer-links.email }}</a></li>

        <li><a rel="nofollow" href="https://github.com/prashant-kikani" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">prashant-kikani</span></a></li>

        <li><a rel="nofollow" href="https://www.linkedin.com/in/prashant-kikani" target="_blank"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">prashant-kikani</span></a></li>

    </ul>
    </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
</div>

</div>
</footer>