<meta charset="utf-8"/>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Prashant Kikani{% endif %}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Prashant Kikani{% endif %}"/>

<meta name="author" content="{{ page.author }}" />

<meta name="keyword" content="{{ page.keyword }}, Prashant Kikani"/>
<meta name="robots" content="{{ page.keyword }}, Prashant Kikani"/>
<meta name="googlebot" content="{{ page.keyword }}, Prashant Kikani"/>
<meta name="author" content="{{ page.keyword }}, Prashant Kikani"/>
<meta http-equiv="Content-Type" content="{{ page.keyword }}, Prashant Kikani"/>

{% if page.title and page.title != "" %}
    <meta property="og:title" content="{{ page.title }} | Prashant Kikani"/>
    <meta property="twitter:title" content="{{ page.title }} | Prashant Kikani"/>
{% else %}
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="twitter:title" content="{{ site.title }}"/>
{% endif %}