<meta charset="utf-8"/>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Prashant Kikani{% endif %}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Prashant Kikani{% endif %}"/>

<meta name="author" content="{{ page.author }}" />

<meta name="keyword" content="Prashant Kikani, {{ page.keyword }}"/>
<meta name="robots" content="Prashant Kikani, {{ page.keyword }}"/>
<meta name="googlebot" content="Prashant Kikani, {{ page.keyword }}"/>
<meta name="author" content="Prashant Kikani, {{ page.keyword }}"/>
<meta http-equiv="Content-Type" content="Prashant Kikani, {{ page.keyword }}"/>

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Prashant Kikani{% endif %}"/>
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}Prashant Kikani{% endif %}"/>